*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
}
.animbutton{
    position: relative;
    padding: 10px 25px;
    background-color: rgb(0, 0, 0);
    border-radius: 25px;
    color: aliceblue;
    border: none;
    font size: 30px;
    cursor: pointer;

}
.animbutton:active{
    transform: scale(0.96);

}
.animbutton::before, .animbutton::after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 150%;
    z-index: -1;
    background-repeat: no-repeat;
}
.animbutton.animate::before{
    top: -70%;
    background-image: radial-gradient(circle, yellow 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, yellow 20%, transparent 30%),
    radial-gradient(circle, yellow 20%, transparent 20%),
    radial-gradient(circle, yellow 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, yellow 15%, transparent 20%),
    radial-gradient(circle, yellow 20%, transparent 20%),
    radial-gradient(circle, yellow 20%, transparent 20%),
    radial-gradient(circle, yellow 20%, transparent 20%),
    radial-gradient(circle, yellow 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
    animation: greentopBubbles ease-in-out 0.6s forwards infinite;
}
@keyframes greentopBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
        40% 90%, 55% 90%, 70% 90%;
    }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
        50% 50%, 65% 20%, 90% 30%;
    }
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
        50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
.animbutton.animate::after{
    bottom: -70%;
    background-image: radial-gradient(circle, yellow 20%, transparent 20%),
      radial-gradient(circle, yellow 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, yellow 15%, transparent 20%),
      radial-gradient(circle, yellow 20%, transparent 20%),
      radial-gradient(circle, yellow 20%, transparent 20%),
      radial-gradient(circle, yellow 20%, transparent 20%),
      radial-gradient(circle, yellow 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    animation: greenbottomBubbles ease-in-out 0.6s forwards infinite;
  }
  @keyframes greenbottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
        70% -10%, 70% 0%;
    }
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
        105% 0%;
    }
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
        110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
